<footer class="footer-area">
        <div class="footer-navigation-area">
            <p><a href="/search" class="footer-search-page">Главная</a> 
            {{#if adminStatus}}
                | <a href="/create" class="footer-create-magazine-page">Создать новый журнал</a></p>
            {{/if}}
            <p>Copyright &copy;, All rights reserved</p>
        </div>
    </footer>