<div class="main_area">
            <div class="growth_wrap">
                <p class="growth_text">Ввести информацию о новом журнале<br /></p>
            </div>
            <div class="body_wrap">
                <div class="left_body_wrap">
                <div class="left_body_main">
                    <div class="main_wrap">
                        <form action="/create" method="POST">
                            <label>Original magazine name</label><br>
                            <input name="nameOriginal" class="field" id="create-field"/><br><br>
                            <label>Magazine name in Russian</label><br>
                            <input name="nameRus" class="field" id="create-field"/><br><br>
                            <label>Magazine name in English</label><br>
                            <input name="nameEng" class="field" id="create-field"/><br><br>
                            <label>ISSN print</label><br>
                            <input name="ISSNprint" class="field" id="create-field"/><br><br>
                            <label>ISSN online</label><br>
                            <input name="ISSNonline" class="field" id="create-field"/><br><br>
                            <label>Magazine publisher</label><br>
                            <input name="publisher" class="field" id="create-field"/><br><br>
                            <label>Magazine publisher in English</label><br>
                            <input name="publisherEng" class="field" id="create-field"/><br><br>
                            <label>Scientific Directions</label><br>
                            <input name="scientificDirections" class="field" id="create-field"/><br><br>
                            <label>Web-Page</label><br>
                            <input name="webPage" class="field" id="create-field"/><br><br>
                            <label>Access for text articles</label><br>
                            <input name="accessTextArticles" class="field" id="create-field"/><br><br>
                            <label>Data start archieve</label><br>
                            <input name="dataStartArchieve" class="field" id="create-field"/><br><br>
                            <label>Data end archieve</label><br>
                            <input name="dataEndArchieve" class="field" id="create-field"/><br><br>
                            <label>Embargo term</label><br>
                            <input name="embargoTerm" class="field" id="create-field"/><br><br>
                            <label>Prefix DOI</label><br>
                            <input name="prefixDOI" class="field" id="create-field"/><br><br>
                            <label>Is included RSCI</label><br>
                            <input name="includedRSCI" class="field" id="create-field"/><br><br>
                            <label>Link for ELibrary</label><br>
                            <input name="linkELibrary" class="field" id="create-field"/><br><br>
                            <label>Access articles in ELibrary</label><br>
                            <input name="accessArticleELibrary" class="field" id="create-field"/><br><br>
                            <label>Data start archieve in ELibrary</label><br>
                            <input name="dataStartArchieveELibrary" class="field" id="create-field"/><br><br>
                            <label>Data end archieve in ELibrary</label><br>
                            <input name="dataEndArchieveELibrary" class="field" id="create-field"/><br><br>
                            <label>Biblometric indicators RSCI</label><br>
                            <input name="bibliometricIndicatorsRSCI" class="field" id="create-field"/><br><br>
                            <label>Years indexing in Scopus</label><br>
                            <input name="yearsIndexingScopus" class="field" id="create-field"/><br><br>
                            <label>Years indexing in Web of Science</label><br>
                            <input name="yearsIndexingWebOfScience" class="field" id="create-field"/><br><br>
                            <label>Description</label><br>
                            <input name="description" class="field" id="create-field"/><br><br>

                            
                            <input type="submit" value="SUBMIT" id="submitButton"/>
                            <br><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>